
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <img  src="~/home/image/26a9bbd1-5c41-4903-8f00-375765ffe470" style="height:100px; width:100px;"/>
    </div>
</body>
</html>
