
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <img  src="~/home/image/1e6464aa-d28f-4441-871c-80fd409d78ef" style="height:100px; width:100px;"/>
    </div>
</body>
</html>
