*{
    
}

body {
    
    margin: 0px;
    margin-top:0px;
    min-height:720px;
    min-width:1080px;
    background-color:red;
}

#Header {
    background-image: linear-gradient(white,grey);
    height: 80px;
    width: 100%;
    box-shadow: 0px 5px 10px 0px rgb(0,0,0);
    
    text-align: left;
}

#Title {
    
    line-height: 80px;
    width: 200px;
    height:80px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    display:inline;
}

#HomeReturn {
    
    height: 80px;
    width: 80px;
    
}
#titre {
    margin-top:-80px;
    height: 80px;
    width: 100%;
    text-align: center;
}

.categorie{
    background-color:dimgrey;
    height:25px;
    line-height:25px;
}
.categorie:hover{
    cursor:pointer;
}
.content{
    display:none;
}
#Article {
    width: 300px;
    float: left;
    border:1px red solid;
    display:block;
    height:800px;
    background-color:greenyellow;
}

.img-content {
    height: 50px;
    width: 50px;
    margin-left: 0px;
    display:block;
}

.content-article{
    width:250px;
    border:1px black solid;
}
#info {
    
    background-color: navajowhite;
    height: 800px;
}
label {
    display: inline-block;
    width: 150px;
    text-align: right;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    height: 30px;
    line-height:30px;
}

input[type=text] {
    width: 500px;
    height: 30px;
    margin: 8px 0;
    box-sizing: border-box;
    margin-left: 20px;
}
#desc {
    position: absolute;
    margin-top: 5px;
    
}

#info textarea {
    
    margin-left: 170px;
    height: 450px;
    width: 500px;
    display: inline-block;
}

#info select {
    margin-left: 20px;
    margin-bottom:15px;
    width: 500px;
    height: 30px;
}
#info button{
    margin:10px,20px,0px,0px;
}